@{
    ViewBag.Title = "Страница не найдена";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-danger">
            <p class="lead">
                Запрашиваемая страница не найдена (Ошибка 404)
            </p>
            Извините, запрашиваемая вами страница не найдена на сайте, или может быть временно недоступна, или вообще удалена.
            Информация об ошибке отправлена разработчикам сайта. Надеемся на ваше понимание.
            <p>
                Вы можете:
            </p>
            <ul>
                <li>Перейти на главную @Html.ActionLink("страницу", "index", "home", null, new { @class = "alert-link" }).</li>
            </ul>
        </div>
    </div>
</div>